.app {
  height: 100vh;
  display: flex;
  position: relative;
  overscroll-behavior-y: none;
}

:global(.leaflet-control-attribution) {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .app {
    height: auto;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}