.countryList {
  width: 100%;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.6rem;
  padding: 0.8rem;
}

@media screen and (max-width: 768px) {
  .countryList {
    grid-template-columns: 1fr;
    height: auto;
    max-height: calc(100vh - 20rem);
    gap: 1.2rem;
    padding: 0.5rem;
  }
}