.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.desktopNav {
  display: block;
}

.desktopNav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.signup {
  background-color: transparent;
  border: 1px solid;
  padding: 0.8rem 2rem;
  border-radius: 7px;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav {
    padding: 0;
  }

  .desktopNav {
    display: none;
  }

  /* Mobile menu styling */
  .nav ul {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .nav a:link,
  .nav a:visited {
    font-size: 1.8rem;
  }

  a.ctaLink:link,
  a.ctaLink:visited,
  .signup {
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 1rem 2rem;
  }
}